.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bolder;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: #232323;
  color: grey;
  transition: all ease-in-out 100ms;
  user-select: none;
  margin: 5px;
  box-shadow: 1px 1px 1px 1px #232323;
}

.btn:hover {
  transform: scale(1.03) rotate(1deg);

  color: whitesmoke;
}

.btn:active {
  transform: scale(0.99);
}

.operator,
.btnPercent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #505050;
  color: whitesmoke;
  font-weight: lighter;
}

.equal {
  width: 170px;
  background-color: rgb(179, 179, 179);
  color: #232323;
}

.btnPercent {
  font-size: 1.5rem;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .btn {
    width: 60px;
    height: 60px;
    margin: 0 5px 0 5px;
  }

  .equal {
    width: 130px;
  }
}
