.footer {
  font-size: 0.9em;
  font-weight: light;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 10vh;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #fff720 10%, #3cd500 100%);
  margin-top: auto;
  border-top: 7px solid whitesmoke;
}

.footerContainer {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerContainer p {
  color: rgb(58, 58, 58);
  letter-spacing: -1px;
}

.logoDev {
  width: 24px;
  height: 24px;
  margin-left: .5rem;
  transition: all ease 200ms;
  display: flex;
}

.logoDev:hover {
  transform: scale(1.05) rotate(7deg);
}